In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB 
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler

In [ ]:
sonar=pd.read_csv('/content/sonar_csv.csv')

In [ ]:
sonar.head()

,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,attribute_6,attribute_7,attribute_8,attribute_9,attribute_10,...,attribute_52,attribute_53,attribute_54,attribute_55,attribute_56,attribute_57,attribute_58,attribute_59,attribute_60,Class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,Rock
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,Rock
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,Rock
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,Rock
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,Rock

In [ ]:
scalar=StandardScaler()
scalar.fit(sonar.drop('Class',axis=1))
sc=scalar.transform(sonar.drop('Class',axis=1))
x=pd.DataFrame(sc,columns=sonar.columns[:-1])

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,sonar['Class'],test_size=0.3,random_state=42)

In [ ]:
gnb=GaussianNB()

In [ ]:
gnb.fit(x_train,y_train)

GaussianNB()

In [ ]:
y_pred=gnb.predict(x_test)

In [ ]:
print("Accuracy Score is",accuracy_score(y_test,y_pred))

Accuracy Score is 0.7777777777777778

In [ ]:
print("Confusion Matrix is",confusion_matrix(y_test,y_pred))

Confusion Matrix is [[23 12]
 [ 2 26]]

In [ ]:
print("Classification Report is\n",classification_report(y_test,y_pred))

Classification Report is
               precision    recall  f1-score   support

        Mine       0.92      0.66      0.77        35
        Rock       0.68      0.93      0.79        28

    accuracy                           0.78        63
   macro avg       0.80      0.79      0.78        63
weighted avg       0.82      0.78      0.78        63